

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: cursive;
    background-color: powderblue;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#choices {
    text-align: center;
}

#choices h1 {
    font-size: 3rem;
}

  

#choices button {
    font-size: 6rem;
    margin: 0 10px;
    max-width: 150px;
    cursor: pointer;
    background-color: crimson;
    border-radius: 5px;
  


}


.vibrate-2 {
	animation: vibrate-2 0.3s linear infinite both;
}


 @keyframes vibrate-2 {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(2px, -2px);
    }
    40% {
      transform: translate(2px, 2px);
    }
    60% {
      transform: translate(-2px, 2px);
    }
    80% {
      transform: translate(-2px, -2px);
    }
    100% {
      transform: translate(0);
    }
  }
  

#resetBtn {
    margin-top: 10px;
    border: none;
    padding: 10px 50px;
    font-family: cursive;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.4s ease;
}
.vibrate-3 {
	animation: vibrate-3 0.9s infinite ;
}

 @keyframes vibrate-3 {
    0% {
      transform: translate(0);
    }
    10% {
      transform: translate(-2px, -2px);
    }
    20% {
      transform: translate(2px, -2px);
    }
    30% {
      transform: translate(-2px, 2px);
    }
    40% {
      transform: translate(2px, 2px);
    }
    50% {
      transform: translate(-2px, -2px);
    }
    60% {
      transform: translate(2px, -2px);
    }
    70% {
      transform: translate(-2px, 2px);
    }
    80% {
      transform: translate(-2px, -2px);
    }
    90% {
      transform: translate(2px, -2px);
    }
    100% {
      transform: translate(0);
    }
  }
  
  
#resetBtn:hover {
    background-color: crimson;
    color: white;
}

  
  


#resultDisplay {
    font-size: 3rem;

}

#playerDisplay,
#computerDisplay {
    text-align: center;
    font-size: 1rem;
}

.greentext,
#playerscoreDisplay {
    color: green;
}

.redtext,
#computerscoreDisplay {
    color: red;
}

/*media query*/
@media(max-width:480px) {
    #choices h1 {
        font-size: 2rem;
    }

    #resetBtn {
        padding: 10px 40px;
        text-align: center;
        border-radius: 10px;
        background: crimson;
        color: white;
        font-size: 20px;
    }

    #choices button {
        margin: 20px;

    }

    #playerDisplay,
    #computerDisplay {
        font-size: 20px;
    }
    .scores{
        margin: 10px;
    }

}
